// Variable overrides

$cyan: #17a2b8;
$info: $cyan;
$blue: #032560;
$maroon:  #34000D;

$primary:       $maroon !default;
$secondary:     $gray-300 !default;
$success:       $green !default;
$info:          $blue !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;


